<div id="login-box" class="modal text-center">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs modal-header">
      <h5>Забыли пароль ?</h5>
    </div>
    <div class="form-inputs modal-body">
      <%= f.input :email, :required => true, :autofocus => true, label: false, placeholder: 'Емейл', input_html: { class: "text-center" } %>
    </div>
    <div class="form-inputs modal-footer">
      <div class="pull-left"><%= link_to "Логин", new_admin_session_path, class: "button" %></div>
      <div class="pull-right"><%= f.button :submit, "Отправить" %></div>
    </div>
  <% end %>
</div>