<!DOCTYPE html>
<html>
<head>
  <title>Cadr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <div class=" navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "English", languages_path(locale: "en") %>
      <%= link_to "Русский", languages_path(locale: "ru") %>
    </div>
  </div>
</body>
</html>
